body{
background-color:antiquewhite;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
}

h1, h2, h3{
    color: #66BFBF;
}


td,th{
    padding: 5px;
    text-align: center;
}
